.list {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}
.list > li:hover {
  background-color: rgba(1, 1, 1, 0.1);
}
.repo-detail {
  justify-content: center;
  margin: 0 10%;
  width: 80%;
  height: 80vh;
}

.list-item {
  display: flex;
  width: 100%;
}

.list-item > div {
  width: 50%;
  border: solid .5px black;
  padding: 5px;
  text-align: center;
}